# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\fgr_springcloud\E-Commerce-Center\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
